# =========================
# Python / Django
# =========================
backend/venv/
backend/__pycache__/
backend/**/*.py[cod]
backend/.env

backend/staticfiles/
backend/media/

# =========================
# Next.js
# =========================
frontend/.next/
frontend/node_modules/
frontend/.env.local
frontend/.env

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Python cache
# =========================
.pytest_cache/
.mypy_cache/